In [1]:
import yfinance as yf
import pandas as pd

In [2]:
tickerStrings = ['JSWSTEEL.NS','TATAMOTORS.NS','BAJAJFINSV.NS','TCS.NS','INFY.NS','TECHM.NS','NESTLEIND.NS','ASIANPAINT.NS','RELIANCE.NS','HDFCBANK.NS']

In [3]:
for ticker in tickerStrings:
    data = yf.download(ticker, group_by="Ticker", period="5y", auto_adjust = True)
    data['ticker'] = ticker  # add this column becasue the dataframe doesn't contain a column with the ticker
    data.to_csv(f'ticker_{ticker}.csv')  # ticker_AAPL.csv for example

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
ticker = 'JSWSTEEL.NS'
st_Data = pd.read_csv(f'ticker_{ticker}.csv')

In [5]:
st_Data.head()

,Date,Open,High,Low,Close,Volume,ticker
0,2016-04-08,116.335269,117.341318,115.708780,116.463310,4714000,JSWSTEEL.NS
1,2016-04-11,116.829147,119.211645,116.152355,118.873253,6883290,JSWSTEEL.NS
2,2016-04-12,118.822950,119.806127,117.816915,118.685768,7246450,JSWSTEEL.NS
3,2016-04-13,119.362535,120.633808,118.507400,120.135361,7360250,JSWSTEEL.NS
4,2016-04-18,120.011924,122.545330,119.563772,122.028587,5235820,JSWSTEEL.NS

In [6]:
st_Data.tail()

,Date,Open,High,Low,Close,Volume,ticker
1227,2021-04-01,470.549988,512.950012,470.000000,508.750000,35736230,JSWSTEEL.NS
1228,2021-04-05,513.500000,522.000000,503.200012,517.500000,29711225,JSWSTEEL.NS
1229,2021-04-06,523.000000,541.299988,520.650024,537.450012,26533367,JSWSTEEL.NS
1230,2021-04-07,539.250000,566.450012,533.200012,562.299988,20024702,JSWSTEEL.NS
1231,2021-04-08,572.000000,639.000000,563.250000,614.099976,71999548,JSWSTEEL.NS